.planDetail {
  display: flex;
  min-width: 600px;

  .planDetailList {
    border-right: 1px solid black;
    padding: 0px 15px;
    height: 100vw;
    .title {
      padding: 10px;
      p {
        text-align: center;
        font-weight: bold;
      }
    }
    .list {
      ul {
      }
    }
  }
  .kanban {
    padding: 0px 10px;
    header {
      padding: 10px;
      p.title {
        font-weight: bold;
      }
      p.duration {
        font-size: 14px;
        color: gray;
      }
    }
    .columns {
      ul {
        display: flex;
        li.column {
          padding: 10px;
          .dateContainer {
            border-bottom: 1px solid gray;
            padding: 10px;
            p.date {
              font-size: 14px;
            }
          }
          .columnList {
          }
        }
      }
    }
  }
}
