.placeCard {
  display: flex;
  align-items: center;
  padding: 3px;
  span.photo {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 5px;
    img {
    }
  }
  span.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    p.name {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      padding: 2px 0;
      span.cate {
        padding: 1px 2px;
      }
      span.addr {
        padding: 1px 2px;
      }
    }
  }
}
