.playground {
  display: flex;
  height: 100vh;

  .container {
    padding: 10px;
    width: 320px;
    .selectedPlacesList {
      h1 {
        padding: 10px 0;
      }
    }
  }

  .division {
    border: 0.1px solid black;
  }
}
