.kanban {
  padding: 0px 10px;
  header {
    padding: 10px;

    .title {
      font-weight: bold;
      input {
        width: 190px;
        padding: 5px;
      }
    }
    p.duration {
      display: flex;
      font-size: 14px;
      color: gray;
    }
  }
  .columns {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .column {
        padding: 10px;
        .dateContainer {
          border-bottom: 1px solid gray;
          padding: 10px;
          p.date {
            font-size: 14px;
          }
        }
        .columnList {
          ul {
            flex: 1;
            li {
              padding: 10px;
              color: black;
              background-color: blue;
              p {
              }
            }
          }
        }
      }
    }
  }
}
