.myPageKanban {
  padding: 0px 10px;
  width: 100%;
  header {
    padding: 10px;

    .title {
      font-weight: bold;
      input {
        width: 190px;
        padding: 5px;
      }
    }
    p.duration {
      display: flex;
      font-size: 14px;
      color: gray;
    }
  }
  .columns {
    ul {
      display: flex;
      flex-direction: row;

      align-items: start;
      .column {
        padding: 10px;
        .dateContainer {
          padding: 10px;
          p.date {
            font-size: 14px;
          }
        }
        .columnList {
          ul {
            flex: 1;
            li {
              padding: 10px;

              p {
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
