.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  nav {
    position: relative;
    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      .logo {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        margin-right: 10px;
      }

      .links {
        ul {
          display: flex;
          li {
            padding: 0 10px;

            .active {
              color: aqua;
            }
          }
        }
      }
    }

    .userlog {
      ul {
        display: flex;
        li {
          padding: 0 10px;
        }
      }
    }
  }
}
