.column {
  border-right: 1px solid black;
  height: 100vh;
  p {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
  .placesContainer {
    padding: 10px 0;
    width: 320px;
    .dropIndicator {
    }
    .place {
    }
  }
}
